* {
	margin:0;
	padding:0;
}

a {
	text-decoration:none;
}

li {
	list-style:none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	display: flex;
	width:100%;
	background: #000;
}

.header__logo {
	margin-top: 56px;
	margin-left: 12%;
	text-transform: uppercase;
	color:white;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	}

nav {
	margin-top: 56px;
	margin-left: 29%;
}

.topnav a {
	text-align: center;
	padding: 12px 16px 9px 16px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.topnav a:hover {
	border-bottom: 3px solid #fcac45;
}

.topnav .icon {
	display: none;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main .main__welcome {
	padding: 200px 0 410px 0;
	text-align: center;
	background: #000;
}

.main__welcome p {
	font-size: 20px;	
	color: #d4d4d4;
}

.main__welcome h1 {
	color: #999999;
	font-size: 44px;
	font-weight: 300;	
}

.main__welcome h1:after {
	display: none;
}

.mycompany {
	color: #fcac45;
	font-weight: bold;
}

.wrapper {
	width: 76%;
	margin: 0 auto;
}

main .main__about .wrapper {
	display: flex;
	padding: 100px 0 100px 0;
}

.about__right {
	margin-left: 175px;
	text-align: center;
}

.about__right h1 {
	display: inline-block;
	padding-bottom: 20px;
	border-bottom: 4px solid #fcac45;
}

.about__right h1:after {
	display: none;
}

.about__right p {
	margin: 30px 0 50px 0;
	color: #6c6c6c;
}

.about__right ul {
	text-align: left;
}

.about__right li {
	padding-left: 20px;
	margin-top: 10px;
	background: url(img/mark.png) 0px no-repeat;
	color: #5a5a5a;
}

.semibold {
	font-weight: 600;
}

.mw-100 {
	min-width: 100%;
}

.main__team {
	padding: 100px 0 165px 0;
	background: #000;
	text-align: center;
	color: #fff;
}
	
.main__team h1 {
	padding-bottom: 100px;
	font-size: 44px;
}

.team__cards {
	display: flex;
}

.photo {
	width: 125px;
	height: 125px;
	margin: 20px auto;
	border-radius: 50%;
	background: #d7d7d7;
}

.card {
	margin: 0 20px;
}

.name {
	margin-bottom: 7px;
	font-size: 20px;
	font-weight: bold;
}

.position {
	margin-bottom: 35px;
	font-size: 16px;
	
}

.about__position {
	font-size: 14px;
}

.services__cards {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
	text-align: center;
}

.main__services h1 {
	padding: 100px 0 60px 0;
	font-size: 44px;
	font-weight: 600;
	text-align: center;
}

.main__services p {
	margin-bottom: 100px;
	color: #6c6c6c;
	text-align: center;
}

.services__card h4 {
	margin: 20px 0 15px 0;
	font-weight: 600;
}

.main__clients {
	padding: 100px 0 205px 0;
	background: #000;
	color: #fff;
	text-align: center;
}

.main__clients h1 {
	margin-bottom: 85px;
	font-size: 44px;
	font-weight: 300;
}

.main__clients img {
	margin: 10px 30px 0 0;
}

.main__work {
	padding: 100px 0 100px 0;
	text-align: center;
}

.main__work h1 {
	margin-bottom: 30px;
	font-size: 44px;
	font-weight: 100;
}

.main__work p {
	margin: 60px 0 175px 0;
	color: #6c6c6c;
}

.main__work img{
	margin:0 10px 10px 0;
}

.main__work img:hover {
	opacity: 0.9;
}

.main__testimonials {
	padding-bottom: 170px;
	background: #000;
	text-align: center;
	color: #fff;
}

.main__testimonials h1 {
	margin: 100px 0 30px 0;
	font-size: 44px;
	font-weight: 300;
}

.main__testimonials p.testimonial {
	margin: 115px 0 50px 0;
	text-transform: uppercase;
	font-size: 18px;
	color: #e7e7e7;
}

.main__testimonials p.client {
	font-size: 18px;
	font-weight: 300;
	color: #b2b2b2;
}

.contact__form {
	padding: 100px 0 60px 0;
}

.contact__form h1,p {
	text-align: center;
}

.contact__form h1 {
	margin-bottom: 70px;
	font-size: 44px;
	color: #000;
}

.contact__wrapper {
	width: 51%;
	margin: 0 auto;
	color: #636363;
}

.red {
	color: red;
}

form p {
	text-align: left;
}

.form__inputs {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 23px;
	margin-top: 100px;
}

input {
	margin-bottom: 30px;
	width: 100%;
	height: 40px;
	font-size: 20px;
}

textarea {
	width: 100%;
	height: 163px;
}

input, textarea {
	margin-top: 5px;
	border: 1px solid #999999;
}

.button__block {
	display: flex;
	justify-content: flex-end;
}

input[type="submit"] {
	width: 165px;
	height: 40px;
	margin: 20px 0 0 0;
	background: #fcac45;
	color: #fff;
	border:none;
	font-size: 16px;
	font-weight: 600;
}

.top__button {
	display: flex;
	align-self: end;
	width: 90px;
	padding: 10px;
	margin-right: 10px;
	background: #999999;
	opacity: 0.4;
}

.top__button a {
	color: #000;
}

h1:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 100px;
	padding-top: 22px;
	border-bottom: 3px solid #fcac45;
}

footer {
	width: 100%;
	height: auto;
	background: #222222;
}

.social .wrapper {
	display: flex;
	justify-content: center;	
}

.social img {
	margin-left: 12px;
	padding: 30px 0 30px 0;
}

.social img:hover {
	opacity: 0.6;
}


@media screen and (max-width: 1300px) {
	nav{
		margin-left: 20%;
	}

	.about__right {
		margin-left: 115px;
	}

	.line1 img:last-child {
		display: none;
	}

	.line2 img:last-child {
		display: none;
	}

	.line3 img:last-child {
		display: none;
	}
}

@media screen and (max-width: 1127px) {
	nav{
		margin-left: 10%;
	}

	.about__right {
		margin-left: 75px;
	}

	.line1 img:nth-child(3),
	.line1 img:nth-child(4) {
		display: none;
	}

	.line2 img:nth-child(3),
	.line2 img:nth-child(4) {
		display: none;
	}

	.line3 img:nth-child(3),
	.line3 img:nth-child(4) {
		display: none;
	}
}

@media screen and (max-width: 1010px) {
	.topnav a {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
		margin-top: -17px;
		color: #fff;
		font-size: 25px;
	}

	nav {
		width: 100%;
	}

	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
	}

	header .topnav.responsive{
		height: 340px;
	}

	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -200px;
	}

	.topnav.responsive a{
		float: none;
		display: block;
		padding: 8px 16px 5px 16px;
		border-bottom: 3px solid #000;	
		text-align: left;
	}

	.topnav a:hover {
		border-bottom: 3px solid #fcac45;
	}

	main .main__welcome {
		padding: 50px 0 120px 0;
	}

	main .main__welcome p {
		font-size: 14px;
	}

	main .main__welcome h1 {
		font-size: 25px;
	}

	.mw-100 {
		max-width: 100%;
	}

	.main__about .wrapper {
		flex-direction: column;
	}

	.about__right {
		text-align: center;
		margin-left: 0;
	}

	.about__right li {
		text-align: left;
	}

	.about__right h1 {
		margin-top: 40px;
		font-size: 25px;
	}

	.main__team h1 {
		padding-bottom: 40px;
		font-size: 33px;
	}

	.team__cards {
		flex-direction: column;
	}

	.card {
		margin-top: 30px;
	}

	.position {
		margin-bottom: 20px;
	}

	.main__services h1 {
		padding-bottom: 50px;
		font-size: 33px;	
	}

	.main__services p {
		margin-bottom: 65px;
	}
	
	.services__cards {
		grid-template-columns: auto;
	}

	.main__clients {
		padding-bottom: 160px;
	}

	.main__clients h1 {
		font-size: 33px;
	}

	.main__clients img {
		margin: 15px 25px 0 0;
	}

	.main__work h1 {
		font-size: 33px;
	}

	.main__work p {
		margin-bottom: 105px;	
	}

	.line1 img:not(:first-child) {
		display: none;
	}

	.line2 img:not(:first-child) {
		display: none;
	}

	.line3 img:not(:first-child) {
		display: none;
	}

	.main__testimonials {
		padding-bottom: 120px;
	}

	.main__testimonials h1 {
		font-size: 33px;
	}

	.main__testimonials p.testimonial {
		margin-top: 70px;
	}

	.contact__form h1 {
		font-size: 33px;
	}

	.form__inputs {
		grid-template-columns: auto;
		margin-top: 60px;
	}

}